@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #F5F3F4;
}
.container {
    max-width: $desktop;
    margin: 0 auto;
    padding: 0px 15px;
}
h2 {
    @include fluid-text (22, 54);
}
a {
    color: var(--color-light-dark);
    transition: color 0.3s ease;
}
.header {
    padding: 20px 0px;
}
.main {
    margin-top: 18px;
    @include mobile {
        margin-top: 10px;
    }
}