:root {
    --color-accent: #FFAE33;
    --color-accent-hover: #faa220;
    --color-dark: #12100C;
    --color-gray: #999795;
    --color-pink: #FFB0AE;
    --color-light-dark: rgba(18, 16, 12, 0.7);
    --color-white: #ffffff;
}