.select__project {
    padding: 158px 0px;
    @include desktop {
        padding: 100px 0px;
    }
    @include tablet {
        padding: 60px 0px;
    }
    @include mobile {
        padding: 40px 0px;
    }
}

.select__project-title {
    @include fluid-text (22, 54);
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: var(--color-dark);
     span {
        display: block;
        color: var(--color-gray);
        text-decoration: line-through;
     }
     @include desktop {
        line-height: 44px;
     }
     @include tablet {
        line-height: 32px;
     }
     @include mobile {
        line-height: 28px;
     }
}